@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

body {
    background: #1c75bc url(images/badge.png) no-repeat fixed 50% 3%;
    background-size: 110%;
    color: #EEE;
    font-family: "Anonymous Pro", monospace;
    text-align: center;
}

h1 {
    font-size: 100px;
}

h1 .small {
    font-size: 40px;
    display: block;
    margin:0;
    padding:0;
    line-height: 10px;
}